<ion-header class="not-color">
  <ion-toolbar>
    <ion-buttons left class="black-space"></ion-buttons>
    <ion-title></ion-title>
    <ion-buttons end class="black-space"></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <content class="login">
    <form>
      <ion-row>
        <ion-col col-12 class="center">
          <span class="error center" [innerHTML]="errorLogin"></span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 class="center">
          <img src="assets/logos/logo.png" alt="">
          <h1>{{'LOGIN' | translate}}</h1>
        </ion-col>
      </ion-row>

      <div class="buttons">
        <button ion-button type="button" (click)="loginFacebook()" [disabled]="submitted" icon-left class="facebook">
          <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
          {{'LOGIN_FACEBOOK' | translate}}
        </button>

        <button ion-button type="button" (click)="loginGooglePlus()" [disabled]="submitted" icon-left class="google-plus">
          <ion-icon ios="logo-googleplus" md="logo-googleplus"></ion-icon>
          {{'LOGIN_GOOGLEPLUS' | translate}}
        </button>
      </div>

    </form>
  </content>
</ion-content>
