<ion-header>
  <ion-toolbar>
    <ion-buttons left class="black-space"></ion-buttons>
    <ion-title>
      {{'HOME' | translate}}
    </ion-title>
    <button ion-button menuToggle end>
      <ion-icon ios="md-menu" md="md-menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item class="search">
        <ion-row>
          <ion-col offset-4 col-8 class="dashboard-calendar">
            <span>{{currentDay}}</span>
            <ion-icon ios="md-calendar" md="md-calendar" (click)="changeDate()"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="home-dashboard" *ngFor="let item of news" (click)="openDetails(item)">
        <h2 class="time">{{item.city}}, {{item.country}}</h2>
        <ion-row>
          <ion-col col-4>
            <ion-thumbnail>
              <img src="assets/logos/teams/team1.png">
            </ion-thumbnail>
            <h2>{{item.vTeam}}</h2>
          </ion-col>

          <ion-col col-4 class="center">
            <h1 *ngIf="item.finished" class="center {{item.vClass}}">{{item.vScore}}</h1>
            <h1 *ngIf="item.finished" class="center line">-</h1>
            <h1 *ngIf="item.finished" class="center {{item.hClass}}">{{item.hScore}}</h1>
            <h1 *ngIf="!item.finished" class="center">
              <div class="start">{{'START_AT' | translate}}</div>
              {{item.start}}</h1>
          </ion-col>

          <ion-col col-4>
            <ion-thumbnail>
              <img src="assets/logos/teams/team2.png">
            </ion-thumbnail>
            <h2>{{item.hTeam}}</h2>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
