<ion-menu class="menu" [content]="menu" [swipeEnabled]="false">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>{{'MENU' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list (click)="closeSession()">
      <ion-item>{{'SIGNOUT' | translate}}</ion-item>
    </ion-list>
    <ion-list>
      <ion-item menuClose detail-none>{{'CLOSE' | translate}}</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #menu [root]="rootPage"></ion-nav>
