<ion-header>
  <ion-toolbar>
    <ion-buttons left class="black-space">
      <div class="center">
        <ion-icon item-left name="md-arrow-back" (click)="backAction()"></ion-icon>
      </div>
    </ion-buttons>
    <ion-title>
      {{'DETAILS' | translate}}
    </ion-title>
    <button ion-button menuToggle end>
      <ion-icon ios="md-menu" md="md-menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>
<ion-content class="details">
  <ion-row class="header">
    <ion-col col-5 class="visit">
      <ion-thumbnail>
        <img src="assets/logos/teams/team1.png">
      </ion-thumbnail>
      <div class="name">
        <h2>{{details.vTeam}}</h2>
        <h3 class="{{details.vClass}}" *ngIf="details.endTimeUTC!='0000-00-00T00:00:00'">{{details.totalVScore}}</h3>
      </div>
    </ion-col>
    <ion-col col-2 class="score">
      <h3>{{'VS' | translate}}</h3>
    </ion-col>
    <ion-col col-5 class="home">
      <ion-thumbnail>
        <img src="assets/logos/teams/team2.png">
      </ion-thumbnail>
      <div class="name">
        <h2>{{details.hTeam}}</h2>
        <h3 class="{{details.hClass}}" *ngIf="details.endTimeUTC!='0000-00-00T00:00:00'">{{details.totalHScore}}</h3>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 class="date">
      {{details.date}}, {{details.hour}}
    </ion-col>
  </ion-row>

  <ion-row *ngIf="details.endTimeUTC!='0000-00-00T00:00:00'">
    <ion-col col-12 class="title-scores">
      <ion-card>
        <ion-card-title>
          <ion-row>
            <ion-col col-3 class="logo-score"></ion-col>
            <ion-col col class="title" *ngFor="let item of details.hScore; let i = index">
              <span *ngIf="item.type=='period'">{{(i+1)}}</span>
              <b *ngIf="item.type=='total'">{{'TOTAL' | translate}}</b>
            </ion-col>
          </ion-row>
        </ion-card-title>
        <ion-card-content>
          <ion-row *ngIf="details.endTimeUTC!='0000-00-00T00:00:00'">
            <ion-col col-3 class="logo-score">
                <img src="assets/logos/teams/team1.png">
            </ion-col>
            <ion-col col class="score" *ngFor="let item of details.vScore">
                <span *ngIf="item.type=='period'">{{item.points}}</span>
                <b *ngIf="item.type=='total'">{{item.points}}</b>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="details.endTimeUTC!='0000-00-00T00:00:00'">
            <ion-col col-3 class="logo-score">
              <img src="assets/logos/teams/team2.png">
            </ion-col>
            <ion-col col class="score" *ngFor="let item of details.hScore">
                <span *ngIf="item.type=='period'">{{item.points}}</span>
                <b *ngIf="item.type=='total'">{{item.points}}</b>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>


  <ion-row *ngIf="details.endTimeUTC!='0000-00-00T00:00:00'">
    <ion-col col-6 class="stadium">
      <ion-card>
        <ion-card-title>{{'ATTENDANCE' | translate}}</ion-card-title>
        <ion-card-content>
          {{details.attendance}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-6 class="city">
      <ion-card>
        <ion-card-title>{{'DURATION' | translate}}</ion-card-title>
        <ion-card-content>
          {{details.duration}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="details.endTimeUTC=='0000-00-00T00:00:00'">
    <ion-col col-6 class="stadium">
      <ion-card>
        <ion-card-title>{{'STADIUM' | translate}}</ion-card-title>
        <ion-card-content>
          {{details.arenaName}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-6 class="city">
      <ion-card>
        <ion-card-title>{{'PLACE' | translate}}</ion-card-title>
        <ion-card-content>
          {{details.city}}, {{details.country}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="details.endTimeUTC=='0000-00-00T00:00:00'">
    <ion-col col-12 class="transmission">
      <ion-item-group>
       <ion-item-divider class="transmission">
         {{'TRANSMISSION' | translate}}
       </ion-item-divider>
       <ion-item *ngFor="let item of details.watch" class="transmission-item">
        <ion-badge item-end>{{item}}</ion-badge>
       </ion-item>
     </ion-item-group>
    </ion-col>
  </ion-row>

</ion-content>
