.center {
  text-align: center;
  margin: auto;
}

.header-md::after, .tabs-md[tabsPlacement="top"]>.tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
  background: none;
}

.header .title {
  text-align: center;
}

.header .black-space {
  width: 34px;
}

.header .black-space .icon {
  font-size: 2.4rem;
}

.content {
  background-color: #efe5db;
}

.header .title .toolbar-title, .header .bar-buttons, .header .back-button {
  color: #ffffff;
  font-weight: normal;
}

.header .back-button {
  width: 34px;
  min-width: 34px;
  max-width: 34px;
  margin: 0px;
  padding: 0px;
}

.header .bar-buttons:hover, .header .back-button:hover {
  color: #ffb9b9;
}

.header .toolbar .toolbar-background {
  background-color: #d02f41;
}

.header.not-color .toolbar .toolbar-background {
  background-color: inherit;
}

page-login .content {
  background: url('../imgs/background.jpg') no-repeat;
  background-size: cover;
  background-color: inherit;
}

.login h1 {
  font-size: 30px;
  text-shadow: 2px 2px 8px #000000;
  color: #ffffff;
  margin: 10px 0px;
  padding: 0px;
  font-weight: normal;
}

.login img {
  width: 45%;
}

.login .buttons {
  opacity: 0.8;
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin: auto;
  padding: 4px;
}

.login button {
  width: 100%;
  text-transform: none;
  border: 0px;
  border-radius: 0px;
  margin: 4px 0px 4px 0px;
}

.login button .icon {
  position: absolute;
  left: 0px;
  font-size: 30px;
  text-align: left;
  padding: 5px;
}

.login .facebook {
  background-color: #3b5998;
}

.login .google-plus {
  background-color: #d34836;
}

.item {
  background: none;
}

.item .item-inner {
  border: 0px !important;
}

.search {
  min-height: inherit;
  color: #ffffff;
  background-color: #d02f41;
  margin-bottom: 4px;
}

.search .item-inner {
  padding: 0px;
}

.search .item-inner .label {
  margin: 0px;
  padding: 0px;
}

.home-dashboard {
  background-color: #fbedd0;
  border-bottom: 1px solid #f55448;
  margin-bottom: 8px;
}

.home-dashboard .label {
  margin: 10px 8px 4px 0;
}

.home-dashboard:nth-child(2n+1) {
  background-color: #dac2ac;
  border-bottom: 1px solid #c0a185;
}

.home-dashboard .time {
  color: #c5c5c5 !important;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  margin: 0px;
}

.home-dashboard:nth-child(2n) .item-inner h2 {
  color: #982118;
}

.home-dashboard:nth-child(2n+1) .item-inner h2 {
  color: #3a322c;
}

.home-dashboard:nth-child(2n) .time {
  color: #ffb2bb !important;
  background-color: #d02f41;
  text-align: right;
  padding: 0px 4px;
}

.home-dashboard:nth-child(2n+1) .time {
  color: #a2a0a0 !important;
  background-color: #3a322c;
  text-align: left;
  padding: 0px 0px 0px 4px;
}

.home-dashboard h1, .home-dashboard h2 {
  text-align: center;
  white-space: normal;
}

.home-dashboard h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
}

.home-dashboard .start {
  width: 100%;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

.home-dashboard h1.winner {
  font-size: 22px;
  font-weight: bold;
}

.home-dashboard h1.line {
  font-size: 16px;
  font-weight: normal;
}

.home-dashboard h2 {
  font-size: 11px;
}

.home-dashboard .item-inner {
  padding-bottom: 8px;
}

.home-dashboard .item-inner ion-thumbnail img {
  margin: auto;
}

.dashboard-calendar {
  padding: 0px;
  text-align: right;
  font-size: 15px;
}

.dashboard-calendar span {
  vertical-align: top;
  line-height: 28px;
}

.dashboard-calendar .icon {
  font-size: 25px;
}

.menu .toolbar {
  height: 120px;
}

.menu .list {
  margin-bottom: 2px;
}

.menu .item {
  min-height: inherit;
}

.menu .item-inner .label {
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0px;
  color: #d02f41;
  border-bottom: 1px solid #d02f41 !important;
}

.details ion-thumbnail {
  border: 4px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 8px 1px #000000;
  -moz-box-shadow: 0px 4px 8px 1px #000000;
  box-shadow: 0px 4px 8px 1px #000000;
  padding: 0px;
  margin: 0px;
}

.details .visit ion-thumbnail {
  background-color: #619bdb;
}

.details .home ion-thumbnail {
  background-color: #9e7ad2;
}

.details .name h2 {
  font-size: 18px;
  margin-top: 8px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 1px 1px #0a0a0a;
}

.details .name h3 {
  color: #000000;
  text-shadow: 0px 1px 2px #fd7b89;
  font-size: 40px;
  text-align: center;
}

.details .name .winner {
  font-weight:bold;
}

.details .name .loser {
  font-weight:normal;
}

.details .name .draw {
  font-weight:normal;
}

.details .score {
  text-align: center;
  margin: auto;
}

.details .score h3 {
  font-weight: bold;
  font-size: 35px;
  width: 100%;
  text-align: center;
  text-shadow: 0px 1px 1px #fd7b89;
  margin: 0px;
  padding: 0px;
}

.details .header {
  background-color: #d02f41;
}
.details .date{
  text-align: right;
  color: #000000;
  font-weight: bold;
  text-shadow: 0px 1px 1px #fd7b89;
  background-color: #ec3b50;
  font-style: italic;
  font-size: 14px;
  padding: 4px 8px;
}

.details .card{
  padding: 0px;
}

.details .card-title{
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
    padding: 8px 16px 8px 16px;
}

.details .stadium .card-content{
    font-size:12px;
    color:#545252;
}

.details .city .card-title{
    background-color: #8957c6;
}

.details .stadium .card-title{
    background-color: #337fd3;
}

.details .title-scores .card-title{
    background-color: #f5283f;
}

.details .title-scores .card-title .title{
    margin: auto;
    text-align: center;
}

.details .title-scores .card-content .logo-score img{
    width:70px;
    margin: auto;
    text-align: center;
}

.details .title-scores .card-content .score{
    margin: auto;
    text-align: center;
}

.details .transmission{
  border-bottom: 0px;
}

.details .transmission .item{
  margin: 0px 0px 2px 0px;
  min-height: inherit;
  padding:0px;
}

.details .transmission .item .item-inner{
  padding:0px;
}

.details .transmission-item{
  border: 1px solid #dedddb;
  padding: 8px;
}

.details .transmission-item .badge{
  border-radius: 0px;
    padding: 12px 8px 12px 8px;
    margin: 0px;
    width: 100%;
    text-align: left;
    color: #d02f41;
    background-color: #ffffff;
}
